<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}Web Attack Detection{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Lightbox2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet">

  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="{{url_for('home')}}" class="img logo rounded-circle mb-5" style="background-size: cover; 
                  background-position: center; 
                  background-repeat: no-repeat; 
                  width: 100px; 
                  height: 100px; 
                  display: block; 
                  background-color: white; 
                  background-image: url({{url_for('static', filename='images/logo.png')}});"></a>
	        <ul class="list-unstyled components mb-5">
                <li>
                    <a href="{{url_for('home')}}">Home</a>
                  </li>
	          <li>
                <a href="{{url_for('upload_data')}}">Upload</a>
	          </li>
              <li>
                <a href="{{url_for('predict')}}">Predict</a>
	          </li>
              <li>
                <a href="{{url_for('threat_summary')}}">Threat Summary</a>
                </li>
	          <li>
              <a href="{{url_for('model_info')}}">Model Info</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p>
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
				</p>
                <p>
                    Designed by Cyber-Enthusiast
                </p>
                <div class="social-media text-center">
                    <p>
                        <a href="#" class="twitter mr-3"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="github mr-3"><i class="fa fa-github"></i></a>
                        <a href="#" class="facebook mr-3"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </p>
                </div>
	        </div>

	      </div>
    	</nav>

        <!--page content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('home')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('upload_data')}}">Upload</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('predict')}}">Predict</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('threat_summary')}}">Threat Summary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('model_info')}}">Model Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock %}
        </div>
	</div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!-- Lightbox2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>
  </body>
</html>