<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web Attack Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>

    <body>
        <div class="container">
            <h1>Web Attack Detection Dashboard</h1>
            <p>Detect Brute Force, XSS, and SQL Injection attacks using a deep learning model.</p>

            <div class="buttons">
                <a href="/upload"><button>Upload Network Data</button></a>
                <a href="/about"><button>About the Model</button></a>
            </div>
        </div>
    </body>
</html>